<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editing <%= trigger.location %></title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Edit <%= trigger.location %> at <%= trigger.date %></h1>
  <form 
    action="/users/<%= user._id %>/triggers/<%= trigger._id %>?_method=PUT"
    method="POST"
  >
    <label for="location">Location:</label>
    <input 
      type="text" 
      name="location" 
      id="location" 
      value="<%= trigger.location %>"
    >
    <button type="submit">Update Event</button>
  </form>
</body>
</html>
