<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= trigger.location %></title>
  <link rel="stylesheet" href="/css/show.css">
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="index-container">
    <% if (trigger.notes) { %>
      <p class="subheader">Notes: <%= trigger.notes %></p>
    <% } %>
    <div class="show-actions">
      <a class="action-button" href="/users/<%= user._id %>/triggers/<%= trigger._id %>/edit">
        Edit this Event
      </a>
      <form action="/users/<%= user._id %>/triggers/<%= trigger._id %>?_method=DELETE" method="POST" style="display:inline;">
        <button type="submit" class="action-button">Delete this Trigger</button>
      </form>
      <p class="subheader">Current Status: <%= trigger.status %></p>
    </div>
  </div>
</body>
</html>
