<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= trigger.location %></title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1><%= trigger.title %></h1>
  <h2>at <%= trigger.location %> </h2>
  <% if (trigger.notes) { %>
    <p>Notes: <%= trigger.notes %></p>
  <% } %> <!-- Closing the conditional statement -->
  <a href="/users/<%= user._id %>/triggers/<%= trigger._id %>/edit">
    Edit this Event
  </a>
  <!--  -->
  <form
    action="/users/<%= user._id %>/triggers/<%= trigger._id %>?_method=DELETE"
    method="POST"
  >
    <button type="submit">Delete this Trigger</button>
  </form>
</body>
</html>
